@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
}

@layer components {
  .grid-tech-skill {
      @apply flex gap-4 shadow-lg py-2 px-6 bg-[#04133e] rounded-full items-center hover:animate-bounce  duration-300;
  }

  .grid-soft-skill {
    @apply flex flex-col bg-[#000000] dark:bg-[#224cff10] p-2 rounded-xl shadow-xl hover:scale-125 ease-in-out duration-500 mb-10 md:mb-0;
  }
}


